<!DOCTYPE html>
<html>

<head>
    <title>BosiCloud - MSP</title>
    <link rel="shortcut icon" href="./favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Fonts-->
    <link rel="stylesheet" type="text/css" href="../assets/fonts/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/fonts/pe-icon/pe-icon.css">
    <!-- Vendors-->
    <link rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap/grid.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/swiper/swiper.css">
    <!-- App & fonts-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
    <link rel="stylesheet" type='text/css' href="../assets/css/sub.css">
</head>

<body>
    <div class="page-wrap">

        <!-- header -->
        <header class="header header--visibility">
            <div class="container">
                <div class="header__inner">
                    <div class="header__logo"><a href="index.html"><img src="../assets/img/logo.png" alt="" /></a></div>
                    <div class="header__menu">

                        <!-- onepage-nav -->
                        <nav class="onepage-nav">

                            <!-- onepage-menu -->
                            <ul class="onepage-menu">
                                <li class="current-menu-item"><a href="./index.html">首页</a>
                                </li>
                                <li><a href="./index.html">关于我们</a>
                                    <ul class="sub-menu">
                                        <li><a href="./product.html">产品设备</a>
                                        </li>
                                    </ul>
                                </li>
                                </li>
                                <li><a href="./index.html#id-3">能力认证</a>
                                </li>

                                <li><a onclick="clickScrollView('#id-4')">解决方案</a>
                                    <ul class="sub-menu">
                                        <li><a href="./devOps.html">DevOps</a>
                                        </li>
                                        <li><a href="./bigDataAndAI.html">BigData</a>
                                        </li>
                                        <li><a href="./Migration.html">Migration</a>
                                        </li>
                                        <li><a href="./msp.html">MSP</a>
                                        </li>
                                        <li><a href="./logAndScheme.html">日志管理与集成</a>
                                        </li>
                                    </ul>
                                </li>


                                <li><a onclick="clickScrollView('#id-5')">客户案例</a>

                                    <ul class="sub-menu">
                                        <li><a href="./DevOpsList.html">DevOps</a>
                                        </li>
                                        <li><a href="./BigDataList.html">BigData</a>
                                        </li>
                                        <li><a href="./MigrationList.html">Migration</a>
                                        </li>
                                        <li><a href="./MspList.html">云托管</a>
                                        </li>
                                    </ul>

                                </li>
                                <li><a href="./index.html#id-6">联系我们</a>
                                </li>
                            </ul><!-- onepage-menu -->

                            <div class="navbar-toggle"><span></span><span></span><span></span></div>
                        </nav><!-- End / onepage-nav -->

                    </div>
                </div>
            </div>
        </header><!-- End / header -->

        <!-- banner -->
        <div class="pages-banner">
            <div class="pages-banner-content">
                <div class="container">
                    <h1 class="banner-title hide-to-left">国民技术股份有限公司</h1>
                    <p class="banner-content hide-to-right lead">相关领域：集成电路、信息安全、SOC、射频</p>
                </div>
            </div>
        </div>
        <!-- End / banner -->

        <!-- breadcrumb -->
        <div class="bc-content">
            <div class="container breadcrumb">
                <ul>
                    <li><a href="./index.html" class="home"></a></li>
                    <li><a href="#">客户案例</a></li>
                </ul>
            </div>
        </div>
        <!-- End / breadcrubm -->

        <!-- Content-->
        <div class="md-content">

            <!-- Section -->
            <section class="md-section bg-gray" id="id-2">
                <div class="container solution contxt">
                    <section>
                        <div style="text-align: left;">
                            <!-- <img src="../assets/img/msp/qx-e.png" style="width: 200px;"> -->
                        </div>
                        <h3 style="font-weight: bold;">案例介绍：国民技术股份有限公司</h3>
                        <!-- <p>2021</p> -->
                        <div>
                            <h6 style="color:#232f3e;font-weight: bold;font-size:20px;margin-top:40px">关于国民技术</h6>
                            <p style="color: #333;font-size: 14px;">
                                国民技术股份有限公司成立于2000年3月，由深圳市中兴集成电路设计有限责任公司于2009年6月整体转制设立而成，是承担国家“909”超大规模集成电路工程的集成电路设计企业之一。公司总部位于深圳，国民技术秉承自主创新的理念，以打造创新的技术、创新的产品、创新的市场，向社会和民众提供高价值、高品质的IC产品与方案为目标，积极推动行业和产业链的合作，创造多赢的商业模式。<br />
                                公司以信息安全、SOC、射频为核心技术发展方向，涵盖从前端到后端全过程的IC设计技术，拥有逾百项自主知识产权，并在多个技术领域具有创新性突破。为了促进互联网时代现代社会的发展和进步，国民技术在安全、通讯、消费电子三个主流市场贡献着知识财富。
                            </p>
                            <h6 style="color:#232f3e;font-weight: bold;font-size:20px">业务需求和挑战</h6>
                            <p style="color: #333;font-size: 14px;">
                                国民技术以“创新服务全民”为企业愿景，立足以自主创新为社会提供高品质的IC产品和整体解决方案，更立志于为人们安全、便捷的数字化生活。
                                国民追求高质量优服务的标准，获得了许多成就和客户的信赖，但在快速发展的历程中，国民技术面临了棘手待解决的困难和挑战。
                                首先是如何管理和维护好庞大的业务系统并非一件容易的事情。随着业务的扩大，事件的复杂和风险都会加大，是不容小觑的重要部分。
                                其次网络方面，如何加强不同区域的联系，提高数据传输效率，还不失安全保障。最后是存储问题，面对庞大的数据量，如何合理存储，同时又能方便使用。
                                对于以上问题，云上构建业务平台、Amazon云资源提供的资源基本能覆盖国民的技术要求，因此，选择亚马逊云科技是无可非议的。
                            </p>
                            <h6 style="color:#232f3e;font-weight: bold;font-size:20px">为什么选择亚马逊云科技</h6>
                            <p style="color: #333;font-size: 14px;">
                                亚马逊云科技也是不断追求自我发展，不断完善和覆盖各领域会涉及到的技术服务，服务全球各类客户。
                            <h6 style="font-size:17px;color: #000;font-weight:bold">丰富低价的公有云资源</h6>
                            亚马逊云科技为客户提供的能使用的计算资源，成本低廉甚至免费，根据需求提供合理的方案和资源。亚马逊合作伙伴博思云为协助客户在Amazon Web Service上部署IBM
                            LSF的调度管理平台，可以有效解决国民技术业务系统问题，同时丰富的云服务种类更加轻松国民技术构建业务和实现创新。而且亚马逊云提供多种服务收费方式，客户可以根据实际情况选择最优的消费方案。
                            <h6 style="font-size:17px;color: #000;font-weight:bold">丰富低价的公有云资源</h6>
                            国民技术希望能够充分整合云平台在稳定性和技术上的优势，亚马逊合作伙伴博思云在Amazon云上设计OSS集成方案，优化资源分布和管理。同时丰富的云服务种类和各种云服务之间易于集成的特性更利于企业实现创新，正好满足国民技术自主创新的发展理念追求。搭建NSF
                            Server共享存储服务实现了不同区域资源的共享；IPsec打通与本地的通信，组成一个大的局域网；通过LSF调度、监视、来实现的负载均衡。国民技术实现了部分服务的自动伸缩和负载均衡，保证系统正常运转的同时更加弹性。
                            </p>
                            <h6 style="color:#232f3e;font-weight: bold;font-size:20px">获得的成效</h6>
                            <p style="color: #333;font-size: 14px;">
                                通过与亚马逊云科技合作伙伴博思云为合作，国民技术将业务拉上云平台后取得了一系列成效：<br />
                                第一是提升了系统性能和服务水平。博思云为为国民搭建LSF负载管理平台，该平台提供基于各种策略的智能调度功能，利用分布式的基础架构资源来提高整体的系统性能，同时LSF支持跨集群工作，最大限度的提高集群的使用效率。打破了国民技术原有的“预先设定、自给自足”传统模式。Single Sing On（OSS）通过IP协议提供访问控制和维护分布式信息的目录信息。通过这个协议可以访问提供目录服务的产品，不仅容量大，而且查询速度非常快，远远超过一般数据库的查询速度。<br/>
                                第二是实现资源共享。NFS 网络文件系统解决了网络文件远程访问和共享受限于计算机、操作系统、网络架构和传输协议的问题。NFS支持不同类型的系统之间通过网络进行文件共享，实现一个系统在网络上与他人共享目录和文件，方便不同区域的计算机如访问本地资源一般访问网上资源。NFS Serve实施共享文件系统，以及客户端所连接的存储。<br/>
                                第三是完善网络架构。在安全方面，启用MFA多重认证，给用户名和密码上额外添加一个安全层。增强了用户在访问Amazon网站或服务时安全性。在数据传输方面，采用VPN虚拟出一条连接国民本地和其他区域的“专线”，构成一个局域网，同时，导入IPsec协议，不仅可以防止密码、认证、数据被篡改的危险，引进了完整的安全机制。而且实现异地网络的互通。<br/>
                                未来，国民技术将继续深化与亚马逊云科技的合作，利用亚马逊云技术改变一些传统方式的应用，重构下一代应用和系统，更好地实现创新发展。只有识时地跟随技术发展，去旧革新，才能创造更多价值。
                            </p>
                            <div style="text-align: center;margin-top: 40px;">
                                <img src="../assets/img/migration/gmjs.jpg" style="width:670px">
                                <p style="margin-top:20px">图1 国民技术架构图</p>
                            </div>
                        </div>

                    </section>

                </div>
            </section>
            <!-- End / Section -->


        </div>
        <!-- End / Content-->

        <!-- footer -->
        <div class="footer">
            <div id="back-to-top"><i class="pe-7s-angle-up"></i></div>
            <div class="container">

                <div class="footer__wrapper">

                    <div class="footer__social">

                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-facebook"></i>
                        </a><!-- End / social-icon -->


                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-twitter"></i>
                        </a><!-- End / social-icon -->


                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-linkedin"></i>
                        </a><!-- End / social-icon -->


                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-behance"></i>
                        </a><!-- End / social-icon -->


                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-vimeo"></i>
                        </a><!-- End / social-icon -->

                    </div>

                    <p class="footer__copy">Copyright @ 深圳市博思云为科技有限公司 <a href="http://www.beian.miit.gov.cn"
                            style="color:white">粤ICP备16041562号-1</a></p>


                </div>
            </div>
        </div><!-- End / footer -->
        <div id="link-to-top"><i class="pe-7s-angle-up"></i></div>
    </div>
    <!-- Vendors-->
    <script type="text/javascript" src="../assets/vendors/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
    <script type="text/javascript" src="../assets/vendors/isotope-layout/isotope.pkgd.js"></script>
    <script type="text/javascript" src="../assets/vendors/jquery-one-page/jquery.nav.min.js"></script>
    <script type="text/javascript" src="../assets/vendors/jquery.easing/jquery.easing.min.js"></script>
    <script type="text/javascript" src="../assets/vendors/jquery.matchHeight/jquery.matchHeight.min.js"></script>
    <script type="text/javascript" src="../assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="../assets/vendors/masonry-layout/masonry.pkgd.js"></script>
    <script type="text/javascript" src="../assets/vendors/swiper/swiper.jquery.js"></script>
    <!-- <script type="text/javascript" src="../assets/vendors/menu/menu.js"></script> -->
    <script type="text/javascript" src="../assets/vendors/typed/typed.min.js"></script>
    <!-- App-->
    <script type="text/javascript" src="../assets/js/main.js"></script>
    <script type="text/javascript" src="../assets/js/sub.js"></script>
</body>

</html>