<!DOCTYPE html>
<html>

<head>
    <title>BosiCloud - MSP</title>
    <link rel="shortcut icon" href="./favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Fonts-->
    <link rel="stylesheet" type="text/css" href="../assets/fonts/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/fonts/pe-icon/pe-icon.css">
    <!-- Vendors-->
    <link rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap/grid.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/swiper/swiper.css">
    <!-- App & fonts-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
    <link rel="stylesheet" type='text/css' href="../assets/css/sub.css">
</head>

<body>
    <div class="page-wrap">

        <!-- header -->
        <header class="header header--visibility">
            <div class="container">
                <div class="header__inner">
                    <div class="header__logo"><a href="index.html"><img src="../assets/img/logo.png" alt="" /></a></div>
                    <div class="header__menu">

                        <!-- onepage-nav -->
                        <nav class="onepage-nav">

                            <!-- onepage-menu -->
                            <ul class="onepage-menu">
                                <li class="current-menu-item"><a href="./index.html">首页</a>
                                </li>
                                <li><a href="./index.html">关于我们</a>
                                    <ul class="sub-menu">
                                        <li><a href="./product.html">产品设备</a>
                                        </li>
                                    </ul>
                                </li>
                                </li>
                                <li><a href="./index.html#id-3">能力认证</a>
                                </li>

                                <li><a onclick="clickScrollView('#id-4')">解决方案</a>
                                    <ul class="sub-menu">
                                        <li><a href="./devOps.html">DevOps</a>
                                        </li>
                                        <li><a href="./bigDataAndAI.html">BigData</a>
                                        </li>
                                        <li><a href="./Migration.html">Migration</a>
                                        </li>
                                        <li><a href="./msp.html">MSP</a>
                                        </li>
                                        <li><a href="./logAndScheme.html">日志管理与集成</a>
                                        </li>
                                    </ul>
                                </li>


                                <li><a onclick="clickScrollView('#id-5')">客户案例</a>

                                    <ul class="sub-menu">
                                        <li><a href="./DevOpsList.html">DevOps</a>
                                        </li>
                                        <li><a href="./BigDataList.html">BigData</a>
                                        </li>
                                        <li><a href="./MigrationList.html">Migration</a>
                                        </li>
                                        <li><a href="./MspList.html">云托管</a>
                                        </li>
                                    </ul>

                                </li>
                                <li><a href="./index.html#id-6">联系我们</a>
                                </li>
                            </ul><!-- onepage-menu -->

                            <div class="navbar-toggle"><span></span><span></span><span></span></div>
                        </nav><!-- End / onepage-nav -->

                    </div>
                </div>
            </div>
        </header><!-- End / header -->

        <!-- banner -->
        <div class="pages-banner">
            <div class="pages-banner-content">
                <div class="container">
                    <h1 class="banner-title hide-to-left">成都觅瑞科技有限公司</h1>
                    <p class="banner-content hide-to-right lead">相关领域：智能家居</p>
                </div>
            </div>
        </div>
        <!-- End / banner -->

        <!-- breadcrumb -->
        <div class="bc-content">
            <div class="container breadcrumb">
                <ul>
                    <li><a href="./index.html" class="home"></a></li>
                    <li><a href="#">客户案例</a></li>
                </ul>
            </div>
        </div>
        <!-- End / breadcrubm -->

        <!-- Content-->
        <div class="md-content">

            <!-- Section -->
            <section class="md-section bg-gray" id="id-2">
                <div class="container solution contxt">
                    <section>
                        <div style="text-align: left;">
                            <!-- <img src="../assets/img/msp/qx-e.png" style="width: 200px;"> -->
                        </div>
                        <h3 style="font-weight: bold;">案例介绍：成都觅瑞科技有限公司</h3>
                        <!-- <p>2021</p> -->
                        <div style="text-align:right;width: 100%;">
                            <img src="../assets/img/migration/meross2.png">
                        </div>
                        <div>
                            <h6 style="color:#232f3e;font-weight: bold;font-size:20px;margin-top:40px">关于觅瑞科技</h6>
                            <p style="color: #333;font-size: 14px;">
                                成都觅瑞科技有限公司（Meross）于2016年12月14日成立，总部位于成都。Meross是全球领先的Wi-Fi和智能家居设备与服务的全球领先提供商，如今拥有30多种智能家居产品，为来自20多个国家和地区的100万客户提供服务。该公司强大的产品阵容包括智能插头，智能灯泡，智能开关，智能电涌保护器，智能车库门开启器和智能散热器恒温器。Meross与Amazon
                                Alexa，Google助手和IFTTT兼容。Meross产品线以简单，易用和稳定而著称。
                            </p>
                            <h6 style="color:#232f3e;font-weight: bold;font-size:20px">业务需求与挑战</h6>
                            <p style="color: #333;font-size: 14px;">
                                觅瑞通过智能家居让人们生活变得更便捷更科学，以及客户至上、创新的理念，觅瑞实现了快速地全球发展，目前服务的用户分布在20多个国家和地区，拥有30多种智能家居产品。创新创造智能家居产品和给广大的群体用户提供更智能优质的服务，是觅瑞服务型公司时刻面临的挑战和机遇。主要有解决基础业务系统平台，各种IOT设备的维护和管理，数据库的管理，打通和加强全球化的通信，以更好地服务客户，加速创新。
                                <br />
                                传统的业务管理方式、物理硬件，运维成本高，灵活性差。IOT设备一旦出现故障，容易造成重大损失，可容灾性差。而引进云服务技术后，以上问题都可轻松解决，并且夯实了基础底层架构，让业务人员更专注于产品的发展和创造中。因此，觅瑞科技选择与亚马逊云服务，帮助更快更好走向行业领先地位。
                                <br />
                            </p>
                            <h6 style="color:#232f3e;font-weight: bold;font-size:20px">为什么选择亚马逊云科技</h6>
                            <p style="color: #333;font-size: 14px;">
                                为了应对全球化发展中的挑战，经过对云服务商的试用和评估，觅瑞科技最终选择了将业务部署在亚马逊云服务上，并采用亚马逊云科技合作伙伴博思云为提供的解决方案。做出这种选择，正是觅瑞科技看中了云服务的几方面的优势：
                                <br />
                                一是覆盖全球范围的基础设施，亚马逊云科技有着庞大和领先的全球基础设施占有量，并快速增加。这对全球发展的觅瑞科技是一大吸引点，便于拓展海外业务，将业务部署上云，能有效降低网络延迟带来的负面影响，同时实现灵活快速地区域扩展。<br />
                                二是亚马逊云科技提供AWS IOT服务，给觅瑞的IOT设备的管理和现场支持提高一个阶段。使用Amazon
                                IOT架构，提高了APP网络消息的安全和降低网络消息转发的复杂度。<br />
                                三是亚马逊云科技拥有大量企业上云的成功案例，并且使用云科技，觅瑞科技可以摆脱过往大量无差异的、低层次的资源投入。支持按需扩展，无需过多规划，多种服务类型可以持续赋能IT敏捷创新。<br />
                                图1是觅瑞科技的Amazon IOT 架构图。项目中博思云为团队对云业务成本投入规划和优化方案进行 详细分析，对各类问题和需求给出了非常好的解答和业务解决方案。
                            </p>
                            <div style="text-align: center;margin-top: 40px;">
                                <img src="../assets/img/migration/meross1.png" style="width:670px">
                                <p style="margin-top:20px">图1 Meross AWS IoT</p>
                            </div>
                            <h6 style="color:#232f3e;font-weight: bold;font-size:20px">获得的收益</h6>

                            <p style="color: #333;font-size: 14px;">
                                目前，基于亚马逊云科技Amazon IOT Core的架构设计、IOT设备及数据迁移，获得以下显著的效益：
                                <br />
                                首先，提高数据的安全性。无论什么行业，数据的重要性不言而喻，都需要考虑对数据完整性、安全等问题。转向Amazon
                                IOT架构后，做了三大改动，其一是取消全球数据库，改为各区域独立运行，降低数据异地存储的风险；其二是APP通过mqtt over websocket方式直接连到amazon
                                iot gateway上，自定义消息协议，大大降低延时；其三是设备采用STS进行验证和授权，提高流量的安全保护。<br />
                                其次是提高了业务响应速率。每个设备和App各自订阅属于自己的topic，只能跟云端直接通信，客户端之间不能相互通信，所有转发工作由后端逻辑完成。APP和设备之间的通信通道设计成异步双工的形式，不再强依赖于一问一答的模式，有效地降低了前端逻辑复杂度，导致难管理难维护的难题。<br />
                                最后，Amazon IOT
                                Core将整个技术大幅度降低了应用门槛和操作难度。觅瑞集团通过使用亚马逊云技术，真正意义上实现了云原生开发。利用博思云为团队成熟的经验，快速构建整体架构，将亚马逊云各种产品功能、基础架构资源充分使用，便捷高效的技术方案框架和敏捷创新方法深刻影响团队的思维模式。<br />
                                未来，觅瑞科技将继续深入亚马逊云科技，更新传统方式下的一些新应用，借助云产品适当进行重构，进而提升业务效率，降低成本。同时带来更多创新思路为公司创造更多价值。
                            </p>
                        </div>

                    </section>

                </div>
            </section>
            <!-- End / Section -->


        </div>
        <!-- End / Content-->

        <!-- footer -->
        <div class="footer">
            <div id="back-to-top"><i class="pe-7s-angle-up"></i></div>
            <div class="container">

                <div class="footer__wrapper">

                    <div class="footer__social">

                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-facebook"></i>
                        </a><!-- End / social-icon -->


                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-twitter"></i>
                        </a><!-- End / social-icon -->


                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-linkedin"></i>
                        </a><!-- End / social-icon -->


                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-behance"></i>
                        </a><!-- End / social-icon -->


                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-vimeo"></i>
                        </a><!-- End / social-icon -->

                    </div>

                    <p class="footer__copy">Copyright @ 深圳市博思云为科技有限公司 <a href="http://www.beian.miit.gov.cn"
                            style="color:white">粤ICP备16041562号-1</a></p>


                </div>
            </div>
        </div><!-- End / footer -->
        <div id="link-to-top"><i class="pe-7s-angle-up"></i></div>
    </div>
    <!-- Vendors-->
    <script type="text/javascript" src="../assets/vendors/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
    <script type="text/javascript" src="../assets/vendors/isotope-layout/isotope.pkgd.js"></script>
    <script type="text/javascript" src="../assets/vendors/jquery-one-page/jquery.nav.min.js"></script>
    <script type="text/javascript" src="../assets/vendors/jquery.easing/jquery.easing.min.js"></script>
    <script type="text/javascript" src="../assets/vendors/jquery.matchHeight/jquery.matchHeight.min.js"></script>
    <script type="text/javascript" src="../assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="../assets/vendors/masonry-layout/masonry.pkgd.js"></script>
    <script type="text/javascript" src="../assets/vendors/swiper/swiper.jquery.js"></script>
    <!-- <script type="text/javascript" src="../assets/vendors/menu/menu.js"></script> -->
    <script type="text/javascript" src="../assets/vendors/typed/typed.min.js"></script>
    <!-- App-->
    <script type="text/javascript" src="../assets/js/main.js"></script>
    <script type="text/javascript" src="../assets/js/sub.js"></script>
</body>

</html>