<!DOCTYPE html>
<html>

<head>
	<title>BosiCloud - BigData</title>
	<link rel="shortcut icon" href="./favicon.ico">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- Fonts-->
	<link rel="stylesheet" type="text/css" href="../assets/fonts/fontawesome/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/fonts/pe-icon/pe-icon.css">
	<!-- Vendors-->
	<link rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap/grid.css">
	<link rel="stylesheet" type="text/css" href="../assets/vendors/magnific-popup/magnific-popup.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/vendors/swiper/swiper.css">
	<!-- App & fonts-->
	<!-- <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"> -->
	<link rel="stylesheet" type="text/css" href="../assets/css/main.css">
	<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
	<link rel="stylesheet" type='text/css' href="../assets/css/sub.css">
</head>

<body>
	<div class="page-wrap">

		<!-- header -->
		<header class="header header--visibility">
			<div class="container">
				<div class="header__inner">
					<div class="header__logo"><a href="index.html"><img src="../assets/img/logo.png" alt="" /></a></div>
					<div class="header__menu">

						<!-- onepage-nav -->
						<nav class="onepage-nav">

							<!-- onepage-menu -->
							<ul class="onepage-menu">
								<li class="current-menu-item"><a href="./index.html">首页</a>
								</li>
								<li><a href="./index.html">关于我们</a>
									<ul class="sub-menu">
										<li><a href="./product.html">产品设备</a>
										</li>
									</ul>
								</li>
								</li>
								<li><a href="./index.html#id-3">能力认证</a>
								</li>

								<li><a onclick="clickScrollView('#id-4')">解决方案</a>
									<ul class="sub-menu">
										<li><a href="./devOps.html">DevOps</a>
										</li>
										<li><a href="./bigDataAndAI.html">BigData</a>
										</li>
										<li><a href="./Migration.html">Migration</a>
										</li>
										<li><a href="./msp.html">MSP</a>
										</li>
										<li><a href="./logAndScheme.html">日志管理与集成</a>
										</li>
										<!-- 										<li><a href="./DevOpsList.html">更多</a>
											</li> -->
									</ul>
								</li>


								<li><a onclick="clickScrollView('#id-5')">客户案例</a>

									<ul class="sub-menu">
										<li><a href="./DevOpsList.html">DevOps</a>
										</li>
										<li><a href="./BigDataList.html">BigData</a>
										</li>
										<li><a href="./MigrationList.html">Migration</a>
										</li>
										<li><a href="./MspList.html">云托管</a>
										</li>
									</ul>

								</li>
								<li><a href="./index.html#id-6">联系我们</a>
								</li>
							</ul><!-- onepage-menu -->

							<div class="navbar-toggle"><span></span><span></span><span></span></div>
						</nav><!-- End / onepage-nav -->

					</div>
				</div>
			</div>
		</header><!-- End / header -->

		<!-- banner -->
		<section class="md-section bg-gray">
			<div class="container solution contxt">
				<h4 style="text-align:center;margin-bottom: 30px;">隐私策略</h4>
				<p class="font-size">博思云为庄严承诺以保护其服务用户的隐私。以下声明旨在披露与博思云为网页有关的隐私政策并试图回答以下问题:</p>
				<ul class="onepage-menu">
					<li>博思云为收集哪些信息</li>
					<li>博思云为如何使用这些信息</li>
					<li>如果博思云为的用户对博思云为的隐私政策有问题，他们应该和谁联系</li>
				</ul>
				<p class="solution-paragraph">
					因为博思云为的成功取决于建立与维护对用户的良好信誉，我们会坚定的实施保护我们用户隐私的措施。本隐私政策适用于您在博思云为页面登记和使用的在线服务。除了在本隐私政策和服务条款以及其他公布的准则的规定的情况下，我们不会公布与用户身份有关的资料。请注意博思云为不时地会检查其隐私措施，因此有关的措施会随之变化。我们恳请您定期光顾本页以确保对我们隐私政策最新版本始终保持了解。您使用或继续使用我们的服务，都表示您同意我们按照本《隐私政策》收集、使用、储存您的信息。
				</p>
				<p class="font-size">博思云为收集用户的两类信息：</p>
				<p class="solution-paragraph">与身份无关的信息：</p>
				<p class="solution-paragraph">
					当用户来到我们的网页，我们收集和汇总诸如哪些网页受到了访问，访问的顺序，链接途径等信息。收集这些信息涉及到记录访问博思云为的每个用户的IP地址、操作平台、浏览器软件等。尽管这些信息无关身份，但我们能够通过其IP地址确定其使用的ISP和其上网的地理位置这些无关身份的信息都帮助我们辩别我们网页最受欢迎的地区并确定我们推广活动的有效性。
				</p>
				<p class="solution-paragraph">与身份有关的信息：</p>
				<p class="solution-paragraph">在登记注册时，用户会被要求提供姓名、联系方式等相关信息。博思云为的目标是向所有用户提供全面、个性化定制服务。而这些信息有助于我们实现这一目标。
				</p>
				<p class="font-size">上述两类信息的来源及博思云为搜集这些信息的途径：</p>
				<ul class="onepage-menu">
					<li>您提供的信息</li>
					<li>您在注册我们的账户或使用我们的服务时，向我们提供的相关信息，例如电话号码、电子邮件等</li>
					<li>您通过我们的服务向其他方提供的共享信息，以及您使用我们的服务时所储存的信息</li>
					<li>其他方使用我们的服务时所提供有关您的共享信息。</li>
				</ul>
				<p class="font-size">
					我们如何使用您的信息
				</p>
				<p class="solution-paragraph">
					我们可能将在向您提供服务的过程之中所收集的信息用作下列用途：
				</p>
				<ul class="onepage-menu">
					<li>向您提供服务，并在提供服务时，用于身份验证、安全防范、诈骗监测、存档和备份用途，确保我们向您提供的产品和服务的安全性</li>
					<li>帮助我们设计新服务，改善我们现有服务</li>
					<li>使我们更加了解您如何接入和使用我们的服务，从而针对性地回应您的个性化需求</li>
					<li>软件认证或管理软件升级</li>
					<li>让您参与有关我们产品和服务的调查</li>
				</ul>
				<p></p>
				<p class="font-size"> 我们如何保留、储存和保护您的信息</p>
				<p class="solution-paragraph">
					我们仅在本《隐私政策》所述目的所必需期间和法律法规要求的时限内保留您的信息。
				</p>
				<p class="solution-paragraph">
					我们使用各种安全技术和程序，以防信息的丢失、不当使用、未经授权阅览或披露。但请您谅解，由于技术的限制以及风险防范的局限即便我们已经尽量加强安全措施，也无法始终保证信息百分之百的安全。
				</p>
				<p class="font-size">
					我们向您发送的邮件和信息
				</p>
				<p class="solution-paragraph">
					邮件和信息推送
				</p>
				<p class="solution-paragraph">
					您使用我们服务时，我们可能使用您的信息向您的设备发送电子邮件、新闻或推送通知。如您不希望收到这些信息，您可以按照我们向您发出的电子邮件所述指示，取消订阅
				</p>
				<p class="solution-paragraph">
					与服务有关的公告
				</p>
				<p class="solution-paragraph">
					我们可能在必需时（例如当我们由于系统维护而暂停某一项服务时）发出与服务有关的公告。您可能无法取消这些与服务有关、性质不属于推广的公告。
				</p>
				<p class="font-size">
					本《隐私政策》的适用范围
				</p>
				<p class="solution-paragraph">
					除某些特定服务外，我们所有的服务均适用本《隐私政策》。这些特定服务将适用特定的信息保护声明。该特定服务的信息保护声明构成本《隐私政策》的一部分。如任何特定服务的信息保护声明与本《隐私政策》有不一致之处，则适用特定服务的信息保护声明。
				</p>
				<p class="solution-paragraph">
					除本《隐私政策》另有规定外，本《隐私政策》所用词语将与博思云为制定的其他公开条款所定义的词语具有相同的涵义。
				</p>
				<p class="font-size">
					请您注意，本《隐私政策》不适用于以下情况：
				</p>
				<ul class="onepage-menu">
					<li>通过我们的服务而接入的第三方服务（包括任何第三方网站）收集的信息;或</li>
					<li>通过在我们服务中进行广告服务的其他公司和机构所收集的信息。本《隐私政策》的修改</li>
				</ul>
				<p class="solution-paragraph">
					我们可能随时修改本《隐私政策》的条款，该等修改构成本《隐私政策》的一部分。如该修改造成您在本《隐私政策》下权利的实质减少，您可以选择停止使用我们向您提供的服务；在该种情况下，若您仍然继续使用我们的服务的，即表示同意受经修订的本《隐私政策》的约束。我们鼓励您在每次访问博思云为的网页时都查阅我们的隐私政策。
				</p>
				<p class="solution-paragraph">
					最后，您是唯一对您的账号和密码信息负有保密责任的人。任何情况下，请小心妥善保管
				</p>
			</div>
		</section>
		<!-- End / Section -->


	</div>
	<!-- End / Content-->

	<!-- footer -->
	<div class="footer">
		<div id="back-to-top"><i class="pe-7s-angle-up"></i></div>
		<div class="container">

			<div class="footer__wrapper">

				<div class="footer__social">

					<!-- social-icon -->
					<a class="social-icon" href="#"><i class="social-icon__icon fa fa-facebook"></i>
					</a><!-- End / social-icon -->


					<!-- social-icon -->
					<a class="social-icon" href="#"><i class="social-icon__icon fa fa-twitter"></i>
					</a><!-- End / social-icon -->


					<!-- social-icon -->
					<a class="social-icon" href="#"><i class="social-icon__icon fa fa-linkedin"></i>
					</a><!-- End / social-icon -->


					<!-- social-icon -->
					<a class="social-icon" href="#"><i class="social-icon__icon fa fa-behance"></i>
					</a><!-- End / social-icon -->


					<!-- social-icon -->
					<a class="social-icon" href="#"><i class="social-icon__icon fa fa-vimeo"></i>
					</a><!-- End / social-icon -->

				</div>

				<p class="footer__copy">Copyright @ 深圳市博思云为科技有限公司 <a href="http://www.beian.miit.gov.cn"
						style="color:white">粤ICP备16041562号-1</a></p>


			</div>
		</div>
	</div><!-- End / footer -->
	<div id="link-to-top"><i class="pe-7s-angle-up"></i></div>
	</div>
	<!-- Vendors-->
	<script type="text/javascript" src="../assets/vendors/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="../assets/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
	<script type="text/javascript" src="../assets/vendors/isotope-layout/isotope.pkgd.js"></script>
	<script type="text/javascript" src="../assets/vendors/jquery-one-page/jquery.nav.min.js"></script>
	<script type="text/javascript" src="../assets/vendors/jquery.easing/jquery.easing.min.js"></script>
	<script type="text/javascript" src="../assets/vendors/jquery.matchHeight/jquery.matchHeight.min.js"></script>
	<script type="text/javascript" src="../assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="../assets/vendors/masonry-layout/masonry.pkgd.js"></script>
	<script type="text/javascript" src="../assets/vendors/swiper/swiper.jquery.js"></script>
	<!-- <script type="text/javascript" src="../assets/vendors/menu/menu.js"></script> -->
	<script type="text/javascript" src="../assets/vendors/typed/typed.min.js"></script>
	<!-- App-->
	<script type="text/javascript" src="../assets/js/main.js"></script>
	<script type="text/javascript" src="../assets/js/sub.js"></script>
</body>

</html>