<!DOCTYPE html>
<html>

<head>
    <title>BosiCloud - MSP</title>
    <link rel="shortcut icon" href="./favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Fonts-->
    <link rel="stylesheet" type="text/css" href="../assets/fonts/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/fonts/pe-icon/pe-icon.css">
    <!-- Vendors-->
    <link rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap/grid.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/swiper/swiper.css">
    <!-- App & fonts-->
    <!-- <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"> -->
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
    <link rel="stylesheet" type='text/css' href="../assets/css/sub.css">
</head>

<body>
    <div class="page-wrap">

        <!-- header -->
        <header class="header header--visibility">
            <div class="container">
                <div class="header__inner">
                    <div class="header__logo"><a href="index.html"><img src="../assets/img/logo.png" alt="" /></a></div>
                    <div class="header__menu">

                        <!-- onepage-nav -->
                        <nav class="onepage-nav">

                            <!-- onepage-menu -->
                            <ul class="onepage-menu">
                                <li class="current-menu-item"><a href="./index.html">首页</a>
                                </li>
                                <li><a href="./index.html">关于我们</a>
                                    <ul class="sub-menu">
                                        <li><a href="./product.html">产品设备</a>
                                        </li>
                                    </ul>
                                </li>
                                </li>
                                <li><a href="./index.html#id-3">能力认证</a>
                                </li>

                                <li><a onclick="clickScrollView('#id-4')">解决方案</a>
                                    <ul class="sub-menu">
                                        <li><a href="./devOps.html">DevOps</a>
                                        </li>
                                        <li><a href="./bigDataAndAI.html">BigData</a>
                                        </li>
                                        <li><a href="./Migration.html">Migration</a>
                                        </li>
                                        <li><a href="./msp.html">MSP</a>
                                        </li>
                                        <li><a href="./logAndScheme.html">日志管理与集成</a>
                                        </li>
                                    </ul>
                                </li>


                                <li><a onclick="clickScrollView('#id-5')">客户案例</a>

                                    <ul class="sub-menu">
                                        <li><a href="./DevOpsList.html">DevOps</a>
                                        </li>
                                        <li><a href="./BigDataList.html">BigData</a>
                                        </li>
                                        <li><a href="./MigrationList.html">Migration</a>
                                        </li>
                                        <li><a href="./MspList.html">云托管</a>
                                        </li>
                                    </ul>

                                </li>
                                <li><a href="./index.html#id-6">联系我们</a>
                                </li>
                            </ul><!-- onepage-menu -->

                            <div class="navbar-toggle"><span></span><span></span><span></span></div>
                        </nav><!-- End / onepage-nav -->

                    </div>
                </div>
            </div>
        </header><!-- End / header -->

        <!-- banner -->
        <div class="pages-banner">
            <div class="pages-banner-content">
                <div class="container">
                    <h1 class="banner-title hide-to-left">TCL科技集团股份有限公司</h1>
                    <p class="banner-content hide-to-right lead">相关领域：多媒体、通讯、家电</p>
                </div>
            </div>
        </div>
        <!-- End / banner -->

        <!-- breadcrumb -->
        <div class="bc-content">
            <div class="container breadcrumb">
                <ul>
                    <li><a href="./index.html" class="home"></a></li>
                    <li><a href="#">客户案例</a></li>
                </ul>
            </div>
        </div>
        <!-- End / breadcrubm -->

        <!-- Content-->
        <div class="md-content">

            <!-- Section -->
            <section class="md-section bg-gray" id="id-2">
                <div class="container solution contxt">
                    <section>
                        <div style="text-align: left;">
                            <!-- <img src="../assets/img/msp/qx-e.png" style="width: 200px;"> -->
                        </div>
                        <h3 style="font-weight: bold;">案例研究：TCL科技集团股份有限公司</h3>
                        <!-- <p>2021</p> -->
                        <div>
                            <h6 style="color:#232f3e;font-weight: bold;font-size:20px;margin-top:40px">关于TCL</h6>
                            <p style="color: #333;font-size: 14px;">
                                TCL科技集团股份有限公司成立于1982年，是中国最大的、全球性规模经营的消费类电子企业集团之一，公司已形成多媒体、通讯、华星光电和TCL家电四家大产业集团，以及系统科技事业本部、泰科立集团、新兴业务群、投资业务群、翰林汇公司、房地产六大业务板块。随着公司发展壮大中，公司确立了在自主创新方面的优势和能力：诞生了中国第一台免提式按键电话、第一台28寸大彩电、第一台钻石手机、第一台国产双核笔记本电脑等。
                                未来公司将继续构建融设计力、品质力、营销力及消费者洞察系统为一体的"三力一系统"，将公司打造成中国最具创造力的品牌。
                            </p>
                            <h6 style="color:#232f3e;font-weight: bold;font-size:20px">面临的困难</h6>
                            <p style="color: #333;font-size: 14px;">
                                随着公司的高速发展，实现了快速地全球发展，业务领域涉及面广，用户遍布国内外，并且与其建立连接和交易。要加强各业务之间的关系，对全球的用户提供稳定的服务，对TCL技术团队并非易事，在快速发展过程中，TCL面临多重挑战，一是全球业务需要有稳定流畅安全的网络通信，二是对重要数据要做好保护和共享，三是保证工作效率的前提下降低成本。
                                围绕维护客户关系，TCL面向的用户来自世界各地，如何协调好公司与用户在销售、营销和服务商的交互，是提高企业核心竞争力的重要因素之一。最终吸引新客户、保留老客户并将客户转为忠实客户，增加市场。
                                <br />
                                为了有效管理会员，记录整理所有会员的资料，了解用户的兴趣爱好、消费特点、意向需求等，并为其提供优质的个性化服务器，同时还为企业的产品开发、事业发展提供可靠的市场调研数据，而这些数据的分析处理都离不开强大的计算能力的技术支持。
                                <br />
                                对于智能家具，将应用程序部署到云上，以便快速构建和更新应用程序。从而使家具更加智能化、国际化、时尚化，让家居生活更加便捷舒适。
                                <br />
                                针对以上问题，不得不依靠更优更好的技术支持，对于TCL来说，选择在云上构建全球业务平台是解决问题和挑战的最佳选择。
                                <br />
                            </p>
                            <h6 style="color:#232f3e;font-weight: bold;font-size:20px">为什么选择亚马逊云科技</h6>
                            <p style="color: #333;font-size: 14px;">
                                为了应对全球化业务发展中的挑战，并且经历过微软Azure的故障，TCL最终选择了将业务部署在亚马逊云技术上，并采用亚马逊合作伙伴博思云为提供的云托管服务，这样的选择有以下几方面的优势：
                                <br />
                                一是覆盖全球范围的基础设施，亚马逊云科技拥有庞大和领先的全球基础设施占有量，遍及24
                                个地理区域的77个可用区（AZ）。在博思云为的协助下，用CloudFront在重要区域的整套业务系统迁移到云上。多点分布，极大降低网络故障造成的损失。
                                <br />
                                二是拥有足够专业的技术和大量企业上云的成功，亚马逊云科技提供超过175项全功能的服务，涵盖计算、存储、数据库、联网、物联网，应用开发、部署、管理等方面。博思云为作为国内知名的合作伙伴，拥有丰富的服务经验，协助企业部署应用程序和服务器，提供丰富的资源给到持续赋能的IT敏捷创新。
                                <br />
                                三是良好的服务和支持体验，博思云为作为国内土生土长的团队，自然会更关注中国用户的访问体验，了解大陆内地的网络情况，可以为客户提供个性化的服务。在与TCL集团频繁深入的交流，充分了解需求，通过Amazon
                                Global Accelerator来加速国内用户到全球的访问，将跨过访问缩短到毫秒，降低网络延迟带来的负面体验。
                                <br />
                            </p>
                            <div style="text-align: center;margin-top: 40px;">
                                <img src="../assets/img/migration/TCL1.png" style="width:670px">
                                <p style="margin-top:20px">图1</p>
                            </div>
                            <div style="text-align: center;margin-top: 40px;">
                                <img src="../assets/img/migration/g1.png" style="width:670px">
                                <p style="margin-top:20px">图2</p>
                            </div>
                            <h6 style="color:#232f3e;font-weight: bold;font-size:20px">获得的收益</h6>
                            <p style="color: #333;font-size: 14px;">
                                通过与Amazon合作伙伴博思云为合作，TCL集团将CRM、官网、会员系统、智能家具系统整体迁移到云上后取得了一系列显著成效：<br/>
                                首先是更好地满足了国际市场拓展的业务需求。博思云为根据TCL的特点，结合在Amazon在全球基础设施的优势给企业提供最合适的建议和方案。官网业务共有5套系统，Amazon提供VPC Peering功能，以新加坡为中心区域，能轻松将其他四个区域的VPC互联，实现内网通信。并在深圳总部通过VPN连接新加坡，实现数据互通，从而构建成一张覆盖全球的网络图。全球用户可以通过CDN选择就近的点访问到官网系统，改善用户体验。图1<br/>
                                其次是提高了服务器的性能，降低故障损失。在全球选择五个重要区域，博思云为帮助企业将CRM系统迁移上云，通过Cloudendure将重要区域机房中的多个服务器进行功能测试，等测试结束后，选择一个切换时间点，将业务切换到Amazon上。图2<br/>
                                同时，借助Amazon合作伙伴博思云为的专业服务，TCL不仅缩短了业务系统迁移时间，也优化了成本，提高了运维效率。Amazon提供的资源优势和自动化监控，大大减少了运维团队的工作量，从而将更多精力和时间花在项目开发和业务响应，加速了创新创造。
                            </p>

                        </div>

                    </section>

                </div>
            </section>
            <!-- End / Section -->


        </div>
        <!-- End / Content-->

        <!-- footer -->
        <div class="footer">
            <div id="back-to-top"><i class="pe-7s-angle-up"></i></div>
            <div class="container">

                <div class="footer__wrapper">

                    <div class="footer__social">

                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-facebook"></i>
                        </a><!-- End / social-icon -->


                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-twitter"></i>
                        </a><!-- End / social-icon -->


                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-linkedin"></i>
                        </a><!-- End / social-icon -->


                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-behance"></i>
                        </a><!-- End / social-icon -->


                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-vimeo"></i>
                        </a><!-- End / social-icon -->

                    </div>

                    <p class="footer__copy">Copyright @ 深圳市博思云为科技有限公司 <a href="http://www.beian.miit.gov.cn"
                            style="color:white">粤ICP备16041562号-1</a></p>


                </div>
            </div>
        </div><!-- End / footer -->
        <div id="link-to-top"><i class="pe-7s-angle-up"></i></div>
    </div>
    <!-- Vendors-->
    <script type="text/javascript" src="../assets/vendors/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
    <script type="text/javascript" src="../assets/vendors/isotope-layout/isotope.pkgd.js"></script>
    <script type="text/javascript" src="../assets/vendors/jquery-one-page/jquery.nav.min.js"></script>
    <script type="text/javascript" src="../assets/vendors/jquery.easing/jquery.easing.min.js"></script>
    <script type="text/javascript" src="../assets/vendors/jquery.matchHeight/jquery.matchHeight.min.js"></script>
    <script type="text/javascript" src="../assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="../assets/vendors/masonry-layout/masonry.pkgd.js"></script>
    <script type="text/javascript" src="../assets/vendors/swiper/swiper.jquery.js"></script>
    <!-- <script type="text/javascript" src="../assets/vendors/menu/menu.js"></script> -->
    <script type="text/javascript" src="../assets/vendors/typed/typed.min.js"></script>
    <!-- App-->
    <script type="text/javascript" src="../assets/js/main.js"></script>
    <script type="text/javascript" src="../assets/js/sub.js"></script>
</body>

</html>