<!DOCTYPE html>
<html>

<head>
    <title>BosiCloud - MSP</title>
    <link rel="shortcut icon" href="./favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Fonts-->
    <link rel="stylesheet" type="text/css" href="../assets/fonts/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/fonts/pe-icon/pe-icon.css">
    <!-- Vendors-->
    <link rel="stylesheet" type="text/css" href="../assets/vendors/bootstrap/grid.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/vendors/swiper/swiper.css">
    <!-- App & fonts-->
    <!-- <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"> -->
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
    <link rel="stylesheet" type='text/css' href="../assets/css/sub.css">
</head>

<body>
    <div class="page-wrap">

        <!-- header -->
        <header class="header header--visibility">
            <div class="container">
                <div class="header__inner">
                    <div class="header__logo"><a href="index.html"><img src="../assets/img/logo.png" alt="" /></a></div>
                    <div class="header__menu">

                        <!-- onepage-nav -->
                        <nav class="onepage-nav">

                            <!-- onepage-menu -->
                            <ul class="onepage-menu">
                                <li class="current-menu-item"><a href="./index.html">首页</a>
                                </li>
                                <li><a href="./index.html">关于我们</a>
                                    <ul class="sub-menu">
                                        <li><a href="./product.html">产品设备</a>
                                        </li>
                                    </ul>
                                </li>
                                </li>
                                <li><a href="./index.html#id-3">能力认证</a>
                                </li>

                                <li><a onclick="clickScrollView('#id-4')">解决方案</a>
                                    <ul class="sub-menu">
                                        <li><a href="./devOps.html">DevOps</a>
                                        </li>
                                        <li><a href="./bigDataAndAI.html">BigData</a>
                                        </li>
                                        <li><a href="./Migration.html">Migration</a>
                                        </li>
                                        <li><a href="./msp.html">MSP</a>
                                        </li>
                                        <li><a href="./logAndScheme.html">日志管理与集成</a>
                                        </li>
                                    </ul>
                                </li>


                                <li><a onclick="clickScrollView('#id-5')">客户案例</a>

                                    <ul class="sub-menu">
                                        <li><a href="./DevOpsList.html">DevOps</a>
                                        </li>
                                        <li><a href="./BigDataList.html">BigData</a>
                                        </li>
                                        <li><a href="./MigrationList.html">Migration</a>
                                        </li>
                                        <li><a href="./MspList.html">云托管</a>
                                        </li>
                                    </ul>

                                </li>
                                <li><a href="./index.html#id-6">联系我们</a>
                                </li>
                            </ul><!-- onepage-menu -->

                            <div class="navbar-toggle"><span></span><span></span><span></span></div>
                        </nav><!-- End / onepage-nav -->

                    </div>
                </div>
            </div>
        </header><!-- End / header -->

        <!-- banner -->
        <div class="pages-banner">
            <div class="pages-banner-content">
                <div class="container">
                    <h1 class="banner-title hide-to-left">中兴通讯股份有限公司</h1>
                    <p class="banner-content hide-to-right lead">相关领域：手机制造、无线基站、信号传输</p>
                </div>
            </div>
        </div>
        <!-- End / banner -->

        <!-- breadcrumb -->
        <div class="bc-content">
            <div class="container breadcrumb">
                <ul>
                    <li><a href="./index.html" class="home"></a></li>
                    <li><a href="#">客户案例</a></li>
                </ul>
            </div>
        </div>
        <!-- End / breadcrubm -->

        <!-- Content-->
        <div class="md-content">

            <!-- Section -->
            <section class="md-section bg-gray" id="id-2">
                <div class="container solution contxt">
                    <section>
                        <div style="text-align: left;">
                            <!-- <img src="../assets/img/msp/qx-e.png" style="width: 200px;"> -->
                        </div>
                        <h3 style="font-weight: bold;">案例研究：中兴通讯股份有限公司</h3>
                        <!-- <p>2021</p> -->
                        <div>
                            <h6 style="color:#232f3e;font-weight: bold;font-size:20px;margin-top:40px">关于中兴通讯</h6>
                            <p style="color: #333;font-size: 14px;">
                                中兴通讯股份有限公司（简称：ZTE
                                中兴通讯），位于广东省深圳市南山区，成立于1985年，是全球第四大手机生产制造商，中国最大的通信设备上市公司，在深圳和香港上市。主要产品包括：2G/3G/4G/5G无线基站与核心网、IMS、固网接入与承载、光网络、芯片、高端路由器、智能交换机、政企网、大数据、云计算、数据中心、手机及家庭终端、智慧城市、ICT业务，以及航空、铁路与城市轨道交通信号传输设备。
                                中兴为全球180多个国家和地区的电信运营商提供创新技术与产品解决方案，通过全系列的无线、有线、核心网、路由、交换、终端产品和专业通信服务，满足全球不同运营商的差异化需求。
                            </p>
                            <h6 style="color:#232f3e;font-weight: bold;font-size:20px">业务需求与挑战</h6>
                            <p style="color: #333;font-size: 14px;">
                                自2012年7月中兴通讯宣布，在中国电信2012年CDMA一期集采项目中获得大额订单，为全国27个省份、超过220个城市进行CDMA网络扩容和优化，总金额接近18亿人民币。
                                <br />
                                中兴始终围绕创新、融合、绿色的发展理念，用户至上，在实现了全球化发展的同时，也面临了急需解决的几大难点，一是根据业务需求对网络手动扩容，不仅人工干预多，系统部署复杂度高、成本高，而且可用性低。二是要实现世界不同地区网络数据通讯，保证用户访问网页（域名访问）的稳定和流畅，提高用户体验；三是对数据的传输和备份保护，业务连续性和灾难恢复（BCDR）的挑战。
                                <br />
                                面对发展遇到的技术困难，需要寻找更好更科学的技术，支持公司未来的持续稳定发展。
                                <br />
                            </p>
                            <h6 style="color:#232f3e;font-weight: bold;font-size:20px">BOSiCloud提供的解决方案</h6>
                            <p style="color: #333;font-size: 14px;">
                                面对以上棘手问题，在和中兴通讯进行详细的需求分析和评估后，亚马逊合作伙伴博思云为针对性地提出了合理的解决方案，并获得了显著的成效：
                                <br />
                                1、为实现世界不同地区网络数据通讯，采用云路由器和Amazon VPC部署VPN，并对VPN链路进行路由转发。其中使用自定义DNS服务器增加forward功能配置。
                            </p>
                            <div style="text-align: center;margin-top: 40px;">
                                <img src="../assets/img/migration/ZTE1.png" style="width:670px">
                                <p style="margin-top:20px">图1 VPN项目</p>
                            </div>
                            <p style="color: #333;font-size: 14px;">
                                2、对于项目管理系统项目，首先针对非洲人员提供业务系统，需要把IDC
                                项目管理系统部署到Amazon云上，同时解决IDC接入公网IP的延迟问题和多域名访问需求。Amazon合作伙伴博思云为建议采用托管应用程序负载均衡器（ALB）和部署Auto
                                Scalling，实现自动化高可用部署，无需担心负载能力和扩展需求，实现了自动化和资源优化，大大降低了成本。<br />
                                其次中兴通讯复用AWS的全球骨干实现互通，采用Route 53对外提供多域名访问，现为减少部署复杂性和成本。<br/>
                                最后，采用三层堆叠模式（RDS、ELB、Amazon CloudFront）部署项目管理系统，Amazon CloudFron进行CDN缓存加速，改善达到服务端缓存加速的效果。图2
                            </p>
                            <div style="text-align: center;margin-top: 40px;">
                                <img src="../assets/img/migration/ZTE2.png" style="width:670px">
                                <p style="margin-top:20px">图2 EPMS</p>
                            </div>
                            <!-- <h6 style="color:#232f3e;font-weight: bold;font-size:20px">获得的收益</h6> -->
                            <p style="color: #333;font-size: 14px;">
                                3、中兴通讯采用在线数据传输服务（AWS DataSync），对数据做传输。通过IPsec网络，对本地数据进行云备份，对数据进行归档保存，数据包括数据库XDUMP文件和文档。同时采用Amazon WAF监管CloudFront安全访问，并使用Amazon托管规则。<br />
                                在EPMS BCDR 建设中搭建如图3架构，应用EC2使用AWS Backup做定时备份和跨区复制；Backup事件触发Lambda更新Auto scaling启动配置；业务中产生的文件使用DataSync定时同步至S3；不同区域之间的S3采用S3复制规则进行双向同步；数据库采用跨区域主从同步数据。
                            </p>
                            <div style="text-align: center;margin-top: 40px;">
                                <img src="../assets/img/migration/ZTE3.png" style="width:670px">
                                <p style="margin-top:20px">图3 EPMS BCDR</p>
                            </div>
                        </div>

                    </section>

                </div>
            </section>
            <!-- End / Section -->


        </div>
        <!-- End / Content-->

        <!-- footer -->
        <div class="footer">
            <div id="back-to-top"><i class="pe-7s-angle-up"></i></div>
            <div class="container">

                <div class="footer__wrapper">

                    <div class="footer__social">

                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-facebook"></i>
                        </a><!-- End / social-icon -->


                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-twitter"></i>
                        </a><!-- End / social-icon -->


                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-linkedin"></i>
                        </a><!-- End / social-icon -->


                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-behance"></i>
                        </a><!-- End / social-icon -->


                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-vimeo"></i>
                        </a><!-- End / social-icon -->

                    </div>

                    <p class="footer__copy">Copyright @ 深圳市博思云为科技有限公司 <a href="http://www.beian.miit.gov.cn"
                            style="color:white">粤ICP备16041562号-1</a></p>


                </div>
            </div>
        </div><!-- End / footer -->
        <div id="link-to-top"><i class="pe-7s-angle-up"></i></div>
    </div>
    <!-- Vendors-->
    <script type="text/javascript" src="../assets/vendors/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
    <script type="text/javascript" src="../assets/vendors/isotope-layout/isotope.pkgd.js"></script>
    <script type="text/javascript" src="../assets/vendors/jquery-one-page/jquery.nav.min.js"></script>
    <script type="text/javascript" src="../assets/vendors/jquery.easing/jquery.easing.min.js"></script>
    <script type="text/javascript" src="../assets/vendors/jquery.matchHeight/jquery.matchHeight.min.js"></script>
    <script type="text/javascript" src="../assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="../assets/vendors/masonry-layout/masonry.pkgd.js"></script>
    <script type="text/javascript" src="../assets/vendors/swiper/swiper.jquery.js"></script>
    <!-- <script type="text/javascript" src="../assets/vendors/menu/menu.js"></script> -->
    <script type="text/javascript" src="../assets/vendors/typed/typed.min.js"></script>
    <!-- App-->
    <script type="text/javascript" src="../assets/js/main.js"></script>
    <script type="text/javascript" src="../assets/js/sub.js"></script>
</body>

</html>